@font-face {
    font-family: nunito;
    src: url(nunito.regular.ttf);
}

*{
    background-color: rgb(51, 49, 49);
}

.portal {
    font-family: nunito;
    border: 2px solid rebeccapurple;
    width: 350px;
    height: max-content;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
    color: white;
}

.portal>span>input {
    width: 70%;
    color: white;
    height: 30px;
    border: 1px solid white;
    /* outline: none; */
}

.portal>span>button {
    /* width: 70%; */
    height: 35px;
    /* color: white; */
    border: 1px solid white;
    border-radius: 10px
}